/ash_tree_locator.py
/autofeed_workers_one.py
/Backup_OpenCV_Falric.bat
/Backup_OpenCV_Naxxramas.bat
/black-desert-witch-icon-18.jpg
/build
/cursor_finder.py
/dist
/gatherherb_workers.py
/gathering_plants_static.spec
/gathering_wood_static.py
/logo.jpg
/Pyinstaller copy paste.txt
/ROI_selector.py
/__init__.py
/__pycache__